<div class="container">
    <div class="logo">
      <a href="#">Logo</a>
    </div>
    <div class="navbar">
      <div class="menu">
        <ul class="menu-list">
          <li><a href="#home">Home</a></li>
          <li><a href="#explore">Explore</a></li>
          <li><a href="#sale">Sale</a></li>
        </ul>
      </div>
      <div class="user-section">
        <input type="text" placeholder="Search">
        <ul class="user-menu">
          <li><a href="#seller">Seller</a></li>
          <li><a href="#support">Support</a></li>
          <li><a href="#cart">Cart(3)</a></li>
          <li><a href="#support">Profile</a></li>
        </ul>
      </div>
    </div>
  </div>